@import '../../variables.scss';

.article {
  padding: 17px 19px;
  background-color: #fff;
  margin-top: 24px;
  border-radius: 5px;
  box-shadow: $card-shadow;
}

.shortDescription {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  margin-top: 16px;
}

.fullDescriptionBody ol {
  padding-left: 30px;
}

.body,
.shortDescription {
  overflow-wrap: anywhere;
}
