@import '../../variables.scss';

.submitButton {
  background: $color-primary;
  border: none;
  font-size: 16px;
  color: #fff;
  width: 100%;
  max-width: 319px;
  border-radius: 5px;
  padding: 8px 0;
  cursor: pointer;
}

.submitButton:hover {
  background: darken($color: $color-primary, $amount: 5);
}
