@import '../../variables';

.articleCard {
  background-color: #fff;
  margin-bottom: 26px;
  padding: 15px 19px;
  min-height: 140px;
  border-radius: 5px;
  box-shadow: $card-shadow;
}

.header {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
  overflow-wrap: anywhere;
}
