@import '../../variables.scss';

.article {
  padding: 17px 19px;
  background-color: #fff;
  margin-top: 24px;
  border-radius: 5px;
  box-shadow: $card-shadow;
  margin-bottom: 30px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.spinnerWrapper {
  padding-top: 17px;
}
