@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import './variables.scss';

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  min-height: 100vh;
  background-color: #ebeef3;
  display: flex;
  flex-direction: column;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 8px 12px;

  border: 1px solid #d9d9d9;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 2px;
}

.form-input::placeholder {
  color: #bfbfbf;
}

.form-input:focus {
  outline: 1px solid $color-primary;
}

.form-label {
  display: block;
  margin-bottom: 2px;
  margin-top: 12px;
}

.form-input--error {
  border: 1px solid $color-error;
}

.form-error-message {
  color: $color-error;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}
