@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #ebeef3;
}

* {
  // outline: 1px solid red;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
