@import '../../../index.scss';

.label {
  margin-top: 21px;
  margin-bottom: 2px;
  font-size: 14px;
  display: block;
}

.textarea {
  min-height: 168px;
}

.tagRow {
  margin-bottom: 5px;
}

.tagInput {
  width: 300px;
  display: inline-block;
}

.tagButton {
  height: 43px;
  padding: 0 20px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.deleteTagButton {
  margin: 0 15px 0 25px;
  color: $color-error;
  border-color: $color-error;
}

.deleteTagButton:hover {
  color: darken($color: $color-error, $amount: 12);
  border-color: darken($color: $color-error, $amount: 12);
}

.addTagButton {
  color: $color-primary;
  border-color: $color-primary;
}

.addTagButton:hover {
  color: darken($color: $color-primary, $amount: 12);
  border-color: darken($color: $color-primary, $amount: 12);
}

.submitButton {
  background: $color-primary;
  border: none;
  font-size: 16px;
  color: #fff;
  width: 300px;
  max-width: 319px;
  border-radius: 5px;
  padding: 8px 0;
  cursor: pointer;
  margin-top: 19px;
}

.submitButton:hover {
  background: darken($color: $color-primary, $amount: 5);
}

.submitButton--disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton--disabled:hover {
  background-color: #ccc;
}
