@import '../../variables';

.wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.notFoundCode404 {
  color: lightgray;
  font-size: 120px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.homePageLink {
  color: $color-primary;
  text-decoration: none;
}
